*.sh text eol=lf
*.kt text eol=lf
*.dart text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.bat text eol=crlf
*.png binary
*.ttf binary
*.jar binary

# GitHub language statistics

android/** linguist-generated=true
ios/** linguist-generated=true
linux/** linguist-generated=true
macos/** linguist-generated=true
windows/** linguist-generated=true
web/** linguist-generated=true

lib/** linguist-generated=false
test/** linguist-generated=false
pubspec.yaml linguist-generated=false
